body {
    background: #EEE;
}

form {
    background: #FFF;
    width: 800px;
    box-shadow: 5px 5px 8px rgba(100, 100, 100, 0.5);
    border: solid 2px #AAA;
    border-radius: 15px;
    margin: 0px auto;
    padding: 1.5em;
}

a {
    text-decoration: none;
}

input,
select {
    width: 100%;
}

/* 
.editFrom {
    display: block;
} */

.editForm-field {
    display: flex;
    position: relative;
    margin: 1em 0px;
    gap: 0.5em;
}

.editForm-field .editForm-field-label {
    width: 30%;
    text-align: right;
}

.editForm-field .editForm-field-input {
    width: 70%;
}

a {
    text-decoration: none;
}

.adminMenu {
    list-style-type: none;
    width: 100%;
}

.adminMenu li {
    position: relative;
    display: inline-block;
}

.adminMenu li a {
    color: #FFF;
    display: inline-block;
    background: #000;
    position: relative;
    margin: 1.2em;
    padding: 2em;
    border-radius: 15px;
}

.adminMenu li a:hover {
    background-color: #444;
}

.adminTable {
    margin: auto;
    width: 100%;
}

.adminTable td {
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
}

.adminTable tr a {
    color: #F00;
    display: inline-block;
    padding: 1em;
    margin: 10px;
    box-shadow: 5px 5px;
    background: #DDD;
}

.adminTable tr a:active {
    padding: 0.7em;
    background: #AAA;
}

.adminTable tr a:hover {
    background: #CCC;
}

.adminMainAddButton {
    position: absolute;
    margin-left: 50%;
    display: inline-block;
    background: #F00;
    color: #FFF;
    padding: 2em;
    margin-top: 2em;
    border-radius: 15px;
    transform: translate(-50%, 0%)
}

.adminMainAddButton:hover {
    padding: 1.7em;
}