.container {
    margin: 0px;
}

div[class^="info_"] {
    display: flex;
    flex-direction: column;
    position: relative;
}

.info_credentials_field {
    margin-bottom: 30px;
}

.info_credentials_field .field_title {
    color: #888;
    font-size: 20px;
}

.info_image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.info_credentials_field .field_value {
    font-weight: bold;
    font-size: 24px;
}

.info_edit form {
    border: 3px solid #000;
    border-radius: 20px;
    background: #666;
    color: #fff;
    margin: 7px;
    /* margin-top: 40px; */
    padding: 30px;
}

.info_edit_field {
    margin: 5px;
}

#info_edit_field_error {
    font-weight: bold;
    color: rgba(255, 23, 3, 0.9);
    margin-top: 5px;
}

.info_edit_field_back {
    margin-top: 10%;
}

.info_edit_field_back a {
    color: #FFF;
    background: rgba(255, 30, 30, 0.9);
    padding: 20px;
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 15px;
    text-decoration: none;
}