<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <script src="../scripts/cookie.js"></script>
    <script src="../scripts/script.js"></script>
    <title>Registration</title>
</head>

<body>
    <div class="container">
        <div class="content">
            <div class="form" id="form">
                <div class="form-element">
                    <label for="name">Name</label>
                    <input id="name" type="text">
                </div>
                <div class="form-element">
                    <label for="login">Login</label>
                    <input id="login" type="text">
                </div>
                <div class="form-element">
                    <label for="mail">Your email</label>
                    <input id="mail" type="email">
                </div>
                <div class="form-element">
                    <label for="password">Password</label>
                    <input id="password" type="password">
                </div>
                <div class="form-element">
                    <label for="password_repeat">Repeat password</label>
                    <input id="password_repeat" type="password">
                </div>
                <div class="form-element" id="error" hidden><span></span></div>
                <div class="form-element">
                    <button onclick="registr()"><span>Sign up</span></button>
                </div>
            </div>
            <div class="table" id="table">
                <span>success login</span>
            </div>
        </div>
    </div>
</body>

</html>