* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

:root {
    --bg-color: #2b2b2b;
    --fg-color: rgba(255, 255, 255, 0.9);
    --bd-color: rgba(255, 255, 255, 0.2);
    --default-bg:
        linear-gradient(322deg, #ba4aff, rgba(186, 74, 255, 0) 70%),
        linear-gradient(178deg, #008aff, rgba(0, 138, 255, 0) 70%),
        linear-gradient(24deg, #00ffc6, rgba(0, 255, 198, 0) 35%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

.site-menu {
    width: 100%;
    height: 400px;
    padding-top: 5em;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.site-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.site-menu-item a {
    position: absolute;

    padding: 1rem 2rem;

    text-decoration: none;
    color: var(--fg-color);

    border: 1px solid var(--bd-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.site-menu-item a::before {
    content: '';

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: var(--default-bg);
    z-index: -1;
    transition: clip-path 1000ms ease-out;
}

.site-menu-item>a::before {
    clip-path: path('M0 0C8.33 -8.33 16.67 -12.5 25 -12.5C37.5 -12.5 36.57 -0.27 50 0C63.43 0.27 62.5 -34.37 75 -34.37C87.5 -34.37 87.5 -4.01 100 0C112.5 4.01 112.38 -18.34 125 -18.34C137.62 -18.34 138.09 1.66 150.48 0C162.86 -1.66 162.16 -25 174.54 -25C182.79 -25 191.28 -16.67 200 0L200 200L0 200L0 0Z');
}

.site-menu-item>a:hover::before {
    clip-path: path('M0 200C8.33 270.83 16.67 306.25 25 306.25C37.5 306.25 36.57 230.98 50 231.25C63.43 231.52 62.5 284.38 75 284.38C87.5 284.38 87.5 208.49 100 212.5C112.5 216.51 112.38 300.41 125 300.41C137.62 300.41 138.09 239.16 150.48 237.5C162.86 235.84 162.16 293.75 174.54 293.75C182.79 293.75 191.28 262.5 200 200L200 200L0 200L0 200Z');
}

.welcome-slide-cards-card-content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.welcome-slide-cards-card-content span {
    font-size: 20px;
}

.welcome-slide-cards-card img {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.3);
}

/* .welcome-slide-footer {
    width: 100%;
    height: 150px;
    background: #444;
} */

.welcome-slide-header {
    width: 100%;
    /* height: 150px;
    background: #444;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.welcome-slide-cards-card {
    width: 100%;
    height: 100vh;
    background-color: rgba(120, 90, 256, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: sticky;
}

.catalog {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.catalog img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    filter: brightness(0.4);
}

.catalog .catalog-items a {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    text-decoration: none;
    color: #FFF;
}

.catalog .catalog-items a span {
    z-index: 2;
    position: absolute;
    text-transform: uppercase;
    font-size: 34px;
}

.catalog .catalog-items a img {
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 1;
    object-fit: cover;
    filter: brightness(0.4);
    border-radius: 20px;
}

.registration {
    height: 100%;
    width: 100%;
}

.registration img {
    width: 100%;
    filter: brightness(0.2);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form>a.escapeLoginReg {
    float: right;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}